<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Simulation characters</h4>
        </div>
        <div class=" card-body">
          <table class=" table tablesorter">
            <thead class=" text-primary">
              <tr>
                <th>Name</th>
                <th>Occupation</th>
                <th>Current situation</th>
                <th>Infection date</th>
                <th>Cure date</th>
                <th>Death date</th>
                <th>Place of infection</th>
                <th>Service received</th>
              </tr>
            </thead>
            <tbody *ngIf="agentsLoaded">
                <tr
                    *ngFor="let item of simulationAgents |  paginate: { id: 'table_one', itemsPerPage: 30, currentPage: p }">
                  <td>{{item.name}}</td>
                  <td>{{item.occupation}}</td>
                  <td>{{item.alreadySituation}}</td>
                  <td>{{item.infectionDate | date: format: 'UTC': 'pt'}}</td>
                  <td>{{item.cureDate | date: format: 'UTC': 'pt'}}</td>
                  <td>{{item.deathDate | date: format: 'UTC': 'pt'}}</td>
                  <td>{{getPlaceOfInfection(item.placeOfInfection)}}</td>
                  <td>{{item.necessaryHospitalCare}}</td>
                </tr>
            </tbody>
          </table>
          <pagination-controls id="table_one" (pageChange)="p = $event" previousLabel="Previous" nextLabel="Next">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>