<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
  <div class="container-fluid">
    <div class=" navbar-wrapper">
      <div class=" navbar-toggle d-inline">
        <button class=" navbar-toggler" type="button" (click)="sidebarToggle()">
          <span class=" navbar-toggler-bar bar1"> </span>
          <span class=" navbar-toggler-bar bar2"> </span>
          <span class=" navbar-toggler-bar bar3"> </span>
        </button>
      </div>
      <a class=" navbar-brand" href="/"> {{ getTitle() }} </a>
    </div>  
    <div class="d-flex">
      <a href="https://www2.ufjf.br/ufjf/" target="_blank" class="simple-text logo-mini logo-img"> 
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/Logo_da_UFJF.png/1200px-Logo_da_UFJF.png" />  
      </a>
      <a href="https://www.ufjf.br/deptocomputacao/" target="_blank" class="simple-text logo-mini logo-img">  
          <img src="https://www.ufjf.br/si/files/2017/07/dcc.png" /> 
      </a>
    </div>
  </div>
</nav>

<ng-template #content let-modal>
  <div class=" modal-header">
    <input
      class=" form-control"
      id="inlineFormInputGroup"
      placeholder="SEARCH"
      type="text"
    />

    <button aria-label="Close" class=" close" data-dismiss="modal" type="button" (click)="modal.dismiss('Cross click')">
      <i class=" tim-icons icon-simple-remove"> </i>
    </button>
  </div>

</ng-template>
