<div class=" content">
  <div class=" row-table">
      <div class=" col-md-12">
          <div *ngIf="isSelected() == 0" class=" card">
              <div class=" card-header">
                  <h4 class="card-title">LISTA DE SIMULAÇÕES EXECUTADAS</h4>
              </div>
              <div class=" card-body">
                  <table class=" table tablesorter">
                      <thead class=" text-primary">
                          <tr>
                              <th>Cenário</th>
                              <th>Data da simulação</th>
                              <th>Dias passados</th>
                              <th>Número de pessoas</th>
                              <th>Detalhes</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let item of items | paginate: { itemsPerPage: 10, currentPage: p }">
                              <td>{{item.scenario}}</td>
                              <td>{{item.initialDate | date: format: 'UTC'}}</td>
                              <td>{{item.daysCount}}</td>
                              <td>{{item.agentsCount}}</td>
                              <td (click)="selected(item.id)" class="mouse-click detail">Visualizar</td>
                          </tr>
                      </tbody>
                  </table>
                  <div class="row">
                      <div class="col-md-9">
                          <pagination-controls *ngIf="getLength()" (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Próximo">
                          </pagination-controls>            
                      </div>
                      <div class="col-md-3">
                          <div class="card-description d-inline-block">
                              <div (click)="compare(1)" class="mouse-click detail px-2">
                                  Comparação entre as simulações
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div *ngIf="isSelected() == 1" class=" card">
              <div class=" card-header">
                  <h4 class="card-title">COMPARAÇÃO ENTRE AS SIMULAÇÕES</h4>
              </div>
              <div class=" card-body">
                  <table class=" table tablesorter">
                      <thead class=" text-primary">
                          <tr>
                              <th>Cenário</th>
                              <th>Número de infectados</th>
                              <th>Número de curados</th>
                              <th>Número de mortos</th>
                              <th>Detalhes</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let item of items | paginate: { itemsPerPage: 10, currentPage: p2 }">
                              <td>{{item.scenario}}</td>
                              <td>{{item.infected}}</td>
                              <td>{{item.cured}}</td>
                              <td>{{item.dead}}</td>
                              <td (click)="selected(item.id)" class="mouse-click detail">Visualizar</td>
                          </tr>
                      </tbody>
                  </table>
                  <div class="row">
                      <div class="col-md-10">
                          <pagination-controls *ngIf="getLength()" (pageChange)="p2 = $event" previousLabel="Anterior" nextLabel="Próximo">
                          </pagination-controls>            
                      </div>
                      <div class="col-md-2">
                          <div class="card-description d-inline-block">
                              <div (click)="compare(0)" class="mouse-click detail px-2">
                                  Lista de simulações
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>