<div class="row-table navbar-distance">
    <app-navbar></app-navbar>
</div>
<div class=" content">
    <div class=" row-table">
        <div class=" col-md-12">
            <div *ngIf="isSelected() == 0" class=" card">
                <div class=" card-header">
                    <h4 class="card-title">LIST OF SIMULATIONS</h4>
                </div>
                <div class=" card-body">
                    <table class=" table tablesorter">
                        <thead class=" text-primary">
                            <tr>
                                <th>Scenario</th>
                                <th>Simulation day</th>
                                <th>Days</th>
                                <th>People</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of items | paginate: { itemsPerPage: 10, currentPage: p }">
                                <td>{{item.scenario}}</td>
                                <td>{{item.initialDate | date: format: 'UTC'}}</td>
                                <td>{{item.daysCount}}</td>
                                <td>{{item.agentsCount}}</td>
                                <td (click)="selected(item.id)" class="mouse-click detail">Detail</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-9">
                            <pagination-controls *ngIf="getLength()" (pageChange)="p = $event" previousLabel="Previous" nextLabel="Next">
                            </pagination-controls>            
                        </div>
                        <div class="col-md-3">
                            <div class="card-description d-inline-block">
                                <div (click)="compare(1)" class="mouse-click detail px-2">
                                    Comparison between simulations
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="isSelected() == 1" class=" card">
                <div class=" card-header">
                    <h4 class="card-title">COMPARISON BETWEEN SIMULATIONS</h4>
                </div>
                <div class=" card-body">
                    <table class=" table tablesorter">
                        <thead class=" text-primary">
                            <tr>
                                <th>Scenario</th>
                                <th>Infected</th>
                                <th>Cured</th>
                                <th>Dead</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of items | paginate: { itemsPerPage: 10, currentPage: p2 }">
                                <td>{{item.scenario}}</td>
                                <td>{{item.infected}}</td>
                                <td>{{item.cured}}</td>
                                <td>{{item.dead}}</td>
                                <td (click)="selected(item.id)" class="mouse-click detail">Detail</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-10">
                            <pagination-controls *ngIf="getLength()" (pageChange)="p2 = $event" previousLabel="Previous" nextLabel="Next">
                            </pagination-controls>            
                        </div>
                        <div class="col-md-2">
                            <div class="card-description d-inline-block">
                                <div (click)="compare(0)" class="mouse-click detail px-2">
                                    List of simulations
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" fixed-plugin">
    <div class=" show-dropdown" ngbDropdown>
        <a data-toggle="dropdown" ngbDropdownToggle>
            <i class=" fa fa-cog fa-2x"> </i>
        </a>
        <ul ngbDropdownMenu>
            <li class=" header-title">CHOOSE YOUR MENU COLOR AND THEME</li>
            <li class=" adjustments-line">
                <a class=" switch-trigger background-color" href="javascript:void(0)">
                    <div class=" badge-colors text-center">
                        <span class=" badge filter badge-danger" [ngClass]="{'active':sidebarColor==='red'}"
                            (click)="changeSidebarColor('red')">
                        </span>
                        <span class=" badge filter badge-primary" [ngClass]="{'active':sidebarColor==='primary'}"
                            (click)="changeSidebarColor('primary')">
                        </span>
                        <span class=" badge filter badge-info" [ngClass]="{'active':sidebarColor==='blue'}"
                            (click)="changeSidebarColor('blue')"> </span>
                        <span class=" badge filter badge-success" [ngClass]="{'active':sidebarColor==='green'}"
                            (click)="changeSidebarColor('green')">
                        </span>
                    </div>
                    <div class=" clearfix"></div>
                </a>
            </li>
            <li class=" adjustments-line text-center color-change">
                <span class=" color-label"> LIGHT MODE </span>
                <span class=" badge light-badge mr-2" (click)="changeDashboardColor('white-content')"> </span>
                <span class=" badge dark-badge ml-2" (click)="changeDashboardColor('black-content')"> </span>
                <span class=" color-label"> DARK MODE </span>
            </li>
        </ul>
    </div>
</div>