<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Simulation days</h4>
        </div>
        <div class=" card-body">
          <table class=" table tablesorter" id="">
            <thead class=" text-primary">
              <tr>
                <th>Day</th>
                <th>Infected</th>
                <th>Cured</th>
                <th>Dead</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let item of simulationDays |  paginate: { id: 'table_two', itemsPerPage: 30, currentPage: p2 }">
                <td>{{item.date | date: format: 'UTC': 'pt'}}</td>
                <td>{{item.infected}}</td>
                <td>{{item.cured}}</td>
                <td>{{item.dead}}</td>
              </tr>
            </tbody>
          </table>
          <pagination-controls id="table_two" (pageChange)="p2 = $event" previousLabel="Previous" nextLabel="Next">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>