<div class="logo">
  <a href="https://www2.ufjf.br/ufjf/" target="_blank" class="simple-text logo-mini">
    <div class="logo-img">
      <img src="https://upload.wikimedia.org/wikipedia/commons/e/e0/Bras%C3%A3o_da_UFJF.png" />
    </div>
  </a>
  <a href="https://www.ufjf.br/deptocomputacao/" target="_blank" class="simple-text logo-mini">
    <div class="logo-img">
      <img src="https://www.ufjf.br/si/files/2017/07/dcc.png" />
    </div>
  </a>
  <a href="https://www2.ufjf.br/ufjf/" target="_blank" class="simple-text logo-normal">
    Menu
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }} nav-item"
    >
      <a [routerLink]="[menuItem.path]">
        <i class="tim-icons  {{ menuItem.icon }}"></i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>
  </ul>
</div>
